.card{
   padding:15px 15px;
   box-shadow: 3px 3px 5px 0px #696969;
   background-color: #ffffff !important;
}

.card_imgbg{
    width: 550px;
    height:250px;
    border-radius: 10px;
}

.card_img{
    width:100%;
    height: 100%;
    border-radius: 10px;
    object-fit: cover;
}

.card_body{
    padding: 20px 0px 20px 20px;
    text-align: left;

}
.card_body h3{
    font-weight: 900 !important;
    margin-bottom: 18px;
}

.code-icon{
    font-size: 50px;
    color: black;
    margin-right: 7px;
}

.card_body button{
    border: none;
    background-color: #000;
    font-size: 14px;
    color: #fff;
    padding: 12px 30px;
    border-radius: 10px;
}

.card_body button:hover{
    background-color: #d55555;
}

.btn-link{
    text-decoration: none !important;
    color: #fff;
}

.btn-link:hover{
    color: #fff !important;
}


.link-icon{
    font-size: 20px;
    margin-top: -5px;
    margin-left: 3px;
}

.code-icon:hover{
    color: #d55555;
}

@media (max-width: 1280px){


.card_imgbg{
    width: 450px;
    height:200px;
    border-radius: 10px;
}


.card_body h3{
    font-size: 24px;
    font-weight: 800 !important;
    margin-bottom: 15px;
}

.code-icon{
    font-size: 40px;
    margin-right: 5px;
}

.card_body button{
    font-size: 12px;
    padding: 10px 26px;
}

.link-icon{
    font-size: 18px;
}
}


@media (max-width: 1024px){
.card_imgbg{
    width: 360px;
    height:150px;
    border-radius: 10px;
}

}

@media (max-width: 800px){
.card_imgbg{
    width: 310px;
    height:150px;
    border-radius: 10px;
}

.card_body h3{
    font-size: 20px;
    font-weight: 800 !important;
    margin-bottom: 15px;
}

}

@media (max-width: 500px){
.card_imgbg{
    width: 100%;
    height:100%;
    border-radius: 10px;
}


.card_body h3{
    font-size: 18px;
    margin-bottom: 10px;
}

.code-icon{
    font-size: 30px;
    margin-right: 5px;
}

.card_body button{
    font-size: 10px;
}

.link-icon{
    font-size: 14px;
}
}