*{
    box-sizing: border-box;
}

body{
    margin:0;
    padding:0;
    overflow-x:hidden;
    font-family: 'Poppins', sans-serif !important;
    font-size: 20px !important;
}

.viewheight{
    height: 93vh;
}


h1{
    font-family: 'Dancing Script', cursive;
    font-family: 80px;
    text-align: center;
    margin-bottom: 20px !important;
}

p{
    font-weight: 200;
    line-height: 2rem;
    text-align: justify;
}

.section{
    padding: 25px 130px 0 120px;
}



/* about me start */
.img-flip{
    transform:scaleX(-1);
}

.boxshadow{
    box-shadow: inset 1px 1px 3px 1px #c6c6c6;
    padding:50px 130px;
}

/* skill cards start */
.cards{
    width: 80%; 
    display:flex;
    justify-content: space-between !important;
    text-align: center;
    margin:30px auto 100px;
}

.card{
   padding:25px 70px;
   box-shadow: 1px 3px 8px 0px #c6c6c6;
}

.card_imgbg{
    background-color: #3D3D3D;
    width: 70px;
    height:70px;
    border-radius: 50%;
    position:relative;
    left:50%;
    transform: translate(-50%);
}

.card_img{
    width:50px;
    height:50px;
    border-radius: 50%;
    position:relative;
    top: 10px;
}

.card_body p {
    font-weight: 600;
    font-size: 15px;
    text-align: center;
}

.card_body ul{
    list-style: none;
    padding: 0;
    margin: 0;
    font-size: 12px;
}

/* skill cards end  */

/* about me skills graph start*/
.outer_box{
    width:100%;
    height: 70vh;
}

.box{
    width:80%;
    height: 80%;
    margin: 50px auto;
    border-bottom: 1px solid rgb(184, 184, 184);
    border-left: 1px solid rgb(184, 184, 184);
    position: relative;
    top:12%;
}

.graphbox{
    width :60%;
    height:100%;
    position: relative;
    left: 20%;
    display: flex;
}

.graphbox .skill{
    position: relative;
    flex: 1;
    text-align: center;
}

.graphbox .skill .graph{
    width: 50px;
    position: absolute;
    bottom: 0%;
    left: 50%;
    transform: translate(-50%);
    background-color: #000;
}

.graphbox .skill .graph .percent{
    color: #fff;
    font-size :12px;
    text-align: center;
    position: absolute;
    left:50%;
    top: 15px;
    transform: translate(-50%);
}

.graphbox .skill .name{
    width:80px;
    font-weight: light;
    font-size: 15px;
    position:absolute;
    left: 50%;
    transform: translate(-50%);
}
/* about me skills graph end*/

/* about me ends  */


