*{
    box-sizing: border-box;
}

body{
    margin:0;
    padding:0;
    overflow-x:hidden;
    font-family: 'Poppins', sans-serif !important;
    font-size: 20px !important;
}

.viewheight{
    height: 93vh;
}


h1{
    font-family: 'Dancing Script', cursive;
    font-family: 80px;
    text-align: center;
    margin-bottom: 20px !important;
}

p{
    font-weight: 200;
    line-height: 2rem;
    text-align: justify;
}

.section{
    padding: 25px 130px 0 120px;
}

/* animations */
.slideInLeft {
    animation: slideInLeft 1s forwards;
}

@keyframes slideInLeft {
    from {
        transform: translateX(-100%);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}


.slideInRight {
    animation: slideInRight 1s forwards;
}


@keyframes slideInRight {
    from {
        transform: translateX(100%);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}






