.img-flip{
    transform:scaleX(-1);
}

/* .aboutme{
    background: #fff;
} */

.boxshadow{
    box-shadow: inset 0 5px 5px -5px #c6c6c6;
    padding:50px 130px;
}

.skills{
    height: 85vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.skills-parallax{
    width: 99%;
    /* border: 10px solid yellow; */
    border-radius: 10px;
}


.skills-div{
    width: 80%;
    height:  80vh;
    /* background: #fff; */
}

.skill-icon{
    width: 100px;
    height: 100px;
}

.react{
    position: absolute;
    top: 100px;
    left: 150px;
}

.html{
    position: absolute;
    top: 360px;
    left: 230px;
}

.css{
    position: absolute;
    top: 200px;
    left: 490px;
}

.nodejs{
    position: absolute;
    top: 30px;
    left: 650px;
}

.javascript{
    position: absolute;
    top: 400px;
    left: 700px;
}

.mongodb{
    height: 150px;
    width: 150px;
    position: absolute;
    top: 200px;
    left: 900px;
}

.java{
    position: absolute;
    top: 40px;
    left: 1200px;
}

.cards{
    width: 80%; 
    display:flex;
    justify-content: space-between !important;
    text-align: center;
    margin:50px auto 100px;
    flex-wrap:wrap;
    row-gap: 50px;
}
